html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color:white;
  font-size: 0;
}

svg {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  position:absolute;
}

h1 {
  width: 100%;
  font-family: sans-serif;
  position:absolute;
  text-align:center;
  color:black;
  font-size: 18px;
  top: 40%;
  opacity: 1;
  transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -webkit-transition: opacity 1s ease-in-out;
}
h2 {
  width: 100%;
  font-family: sans-serif;
  text-align:center;
  color:black;
  font-size: 18px;
  top: 40%;
  opacity: 1;
}

h1 a {
  color: #48b1f4;
  text-decoration:none;
}

path {
  stroke-linecap: square;
  stroke: white;
  stroke-width: 0.5px;
}

/*#game{
    width: 900px;
    height: 600px;
    border: 1px solid black;
    margin: auto;
}*/
#tutor{
    position: relative;
    bottom:-395px;
    left:550px
}
#character{
    position: relative;
    bottom:-260px;
    left: 800px;
}
#frog{
    width: 80px;
    height: 50px;
/*    background-color: green;*/
    position: relative;
    bottom:-550px;
    left: 1150px;
}
.frog-jump{
    animation: frog-jump 1s ease;
}
@keyframes frog-jump{
    0%   { transform: scale(1,1)      translateY(0); }
    10%  { transform: scale(1.1,.9)   translateY(0); }
    30%  { transform: scale(.9,1.1)   translateY(-300px); }
    50%  { transform: scale(1.05,.95) translateY(0); }
    57%  { transform: scale(1,1)      translateY(-21px); }
    64%  { transform: scale(1,1)      translateY(0); }
    100% { transform: scale(1,1)      translateY(0); }
}